<div class="container-fluid">
    <form action="" id="position-form">
        <input type="hidden" name="id" value="{% if position.pk %}{{position.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="name" class="control-label">Должность</label>
            <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if position.name %}{{position.name}}{% endif %}" required>
            <label for="sort_id" class="control-label">Индекс</label>
            <input type="number" name="sort_id" id="sort_id" class="form-control form-control-sm rounded-0" value="{% if position.sort_id %}{{position.sort_id}}{% endif %}">
        </div>

    </form>
</div>
<script>
    $(function() {
        $('#position-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-position-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("Произошла ошибка", 'error');
                        end_loader();
                        console.error(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>